<!DOCTYPE html>
<html>
<head>
  <title>Word Count</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script async src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Oswald|Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container ko-main-container">
    <div class="row ko-header">
      <h1>Word Count</h1>
    </div>
      <%= yield %>
  </div>
</body>
</html>
