<div class="row ko-results">
  <h3><%= @word_count %> match<% if @word_count != 1 %>es<% end %> for "<%= @word %>"</h3>
  <div class="ko-display-results">
    <p><%= @display_word_count %></p>
  </div>
  <div class="row ko-links">
    <a href="/">Do another search</a>
  </div>
</div>
